[Unit]
Description={{ inventory_hostname }}-nspawn

[Service]
Type=simple
ExecStartPre=-/usr/bin/systemd-nspawn --machine {{ inventory_hostname }} --directory {{ chroot_dir }} /usr/sbin/sshd-keygen
ExecStartPre=-/usr/bin/cp -a {{ chroot_dir }}/etc/resolv.conf {{ chroot_dir }}/etc/resolv.conf.nspawn
ExecStart=/usr/bin/systemd-nspawn --machine {{ inventory_hostname }} --directory {{ chroot_dir }} /usr/sbin/sshd -D -p {{ ansible_ssh_port }}
ExecStartPost=-/usr/bin/mv {{ chroot_dir }}/etc/resolv.conf.nspawn {{ chroot_dir }}/etc/resolv.conf

ExecStop=/usr/bin/machinectl --machine={{ inventory_hostname }} terminate

TimeoutStartSec=0
Restart=always
RestartSec=10s
